<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <img src="./images/plate.png" alt="fork and knife line drawing">
        <h1>Search by Cuisine</h1>
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <section class="results">
            <h2>Restaurants</h2>
            <ul>
                {{#each restaurants}}
                <li>{{this.name}}</li>
                <li>{{this.image_url}}</li>
                <li>{{this.url}}</li>
                <li>{{this.distance}}</li>
                {{/each}}
            </ul>
        </section>
        <section class="results">
            <h2>Recipes</h2>
            <ul>
                {{#each recipes}}
                <li>{{this.title}}</li>
                <li>{{this.image}}</li>
                <li>{{this.sourceUrl}}</li>
                <li>{{this.readyInMinutes}}</li>
                {{/each}}
            </ul>
        </section>
    </main>

</body>

</html>